<!-- Written by Wooyang Son -->

{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped alignleft">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">TOTAL</th>
            </tr>
        </thead>

        <tbody>
        {% for row in purchases%}
            <tr>
                <td>{{ row["symbol"] }}</td>
                <td>{{ row["name"] }}</td>
                <td>{{ row["shares"] }}</td>
                <td>{{ row["price"] }}</td>
                <td>{{ row["total"] }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <!--<form action="/deposit">-->
    <!--    <button class="btn btn-primary" type="submit">Make a deposit</a>-->
    <!--</form>-->


{% endblock %}
